# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]ut/

# IDE
.vs/
.vscode/
*.swp

# Database
*.db
*.db-shm
*.db-wal
*.sqlite

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/

# Secrets
appsettings.Development.json
.env
*.pfx